* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #181818;
    padding: 24px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.logo {
    display: inline-block;
    margin: 6px 0;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

header nav ul {
    list-style: none;
}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav ul li:first-of-type a {
    font-size: 13px;
}

header nav ul li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 20px;
    font-size: 16px;
    color: #000000;
}

.main_banner {
    background-image: url("../image/IMAGE.jpg");
    background-size: cover;
    height: 91vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 71px;
    position: relative;
}

.main_banner .container {
    margin: inherit;
}

.main_banner h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_banner h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}

.main_banner p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    max-width: 500px;
    margin: auto;
}

.list_item {
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.list_item li {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: white;
    margin-left: 16px;
}

.list_item li:before {
    content: "";
    display: inline-block;
    background-image: url("../image/icon_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}

.list_item li:nth-child(2):before {
    background-image: url("../image/icon_2.svg");
}

.list_item li:nth-child(3):before {
    background-image: url("../image/icon_3.svg");
    margin-right: 7px;
    width: 32px;
}

.list_item li:last-of-type:before {
    background-image: url("../image/icon_4.svg");
    margin-right: 5px;
    width: 10px;
}

/*section_2*/

.what_we_do {
    background-color: black;
    padding-top: 112px;
    padding-bottom: 100px;
}

.what_we_do h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
}

.what_we_do p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #C0C0C0;
}

.text-center {
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.what_we_do .item {
    max-width: 575px;
    margin-bottom: 16px;
    position: relative;
}

.what_we_do .item img {
    display: block;
    width: 100%;
}

.what_we_do .container {
    max-width: 1168px;
}

.what_we_do .item .description {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.description h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.description p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 30px;
}

.description a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-flex;
    text-decoration: none;
    transition: 0.3s;
}

.description a:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 14px;
    margin-right: 6px;
    transition: 0.3s;
}

.description a:hover {
    background: #000;
    color: #fff;
}

.description a:hover:before {
    background-color: #fff;
}

/*section 3*/

.fuji {
    background-image: url("../image/Japan.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    padding-bottom: 71px;
    position: relative;
}

.fuji .container {
    font-family: 'Poppins', sans-serif;
    max-width: 298px;
    margin-right: 87px
}

.fuji .container h4 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 20px;
    text-decoration: none;
    margin: inherit;
}

.fuji .container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    width: 298px;
    position: absolute;
    margin: inherit;
}

/*section 4*/
.costa_rica {
    background-image: url("../image/costa_rica.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    padding-bottom: 71px;
    position: relative;
}

.costa_rica .container {
    font-family: 'Poppins', sans-serif;
    max-width: 273px;
    margin-right: 100px
}

.costa_rica .container h5 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 20px;
    text-decoration: none;
    margin: inherit;
}

.costa_rica .container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    width: 298px;
    position: absolute;
    margin: inherit;
}

/*section 5*/
.clients {
    background-color: #000000;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    padding-bottom: 71px;
}

.clients .container {
    color: #FFFFFF;
    max-width: 1200px;
}

.clients h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
}

.clients p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    text-align: center;
}

.clients ul {
    margin-top: 100px;
}

.clients li {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
}

.clients li:before {
    content: "";
    background-image: url("../image/icon_hill.svg");
    width: 128px;
    height: 30px;
    margin-right: 109px;
    color: white;
    position: relative;
}

.clients li:nth-child(2):before {
    background-image: url("../image/icon_riks.svg");
    width: 128px;
    height: 78px;
    color: white;
    margin-right: 109px;
}

.clients li:nth-child(3):before {
    background-image: url("../image/icon_studio.svg");
    width: 128px;
    height: 20px;
    color: white;
    margin-right: 109px;
}

.clients li:nth-child(4):before {
    background-image: url("../image/icon_chill.svg");
    width: 128px;
    height: 36px;
    color: white;
    margin-right: 109px;
}

.clients li:last-of-type:before {
    background-image: url("../image/icon_stockholm.svg");
    width: 128px;
    height: 32px;
    color: white;
}

/*section 6*/
.himalayas {
    background-image: url("../image/himalayas.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    padding-bottom: 71px;
    position: relative;
}

.himalayas .container {
    max-width: 254px;
    margin-right: 106px
}

.himalayas .container h4 {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 20px;
    text-decoration: none;
    margin: inherit;
    width: 254px;
}

.himalayas .container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    width: 241px;
    position: absolute;
    margin: inherit;
}

/*section 7*/
.need_help {
    background-color: #000000;
    background-size: cover;
    height: 414px;
    display: flex;
    align-items: center;
    padding-bottom: 108px;
    position: relative;
}

.need_help .container {
    color: #FFFFFF;
    max-width: 571px;
}

.need_help h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
}

.need_help p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    color: #C0C0C0;
    text-align: center;
}

.need_help a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-flex;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 215px;
    margin-top: 22px;
}

.need_help a:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 14px;
    margin-right: 6px;
    transition: 0.3s;
}

.need_help a:hover {
    background: #000;
    color: #fff;
}

.need_help a:hover:before {
    background-color: #fff;
}
